@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    font-family: "Ubuntu", sans-serif;
    font-family: "Elsie Swash Caps", cursive;
}

body {
    background: #cfd2c6;
}

.home {
    height: 100vh;
}

h1.head {
    font-family: "Ubuntu", sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin-left: 170px;
    margin-top: 196px;
    line-height: 120%;
    color: #ffffff;
}

.nav {
    height: 120px;
    padding: 0px 80px 0px 80px;
    display: block;
}

h1.logo {
    color: #ffffff;
    text-align: center;
    font-family: "Elsie Swash Caps", cursive;
    font-size: 32px;
    font-weight: 900;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 400;
}

li {
    list-style: none;
    margin: 0px 20px 0px 20px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*
Menu Section  
*/

div.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.about {
    font-family: "Ubuntu", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 64px;
    color: #36392d;
    margin-left: 170px;
}

p.about-parag {
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 521px;
    margin-right: 150px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 80px 463px 40px 463px;
}

h1.menu-head {
    font-family: "Ubuntu", sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #36392d;
}

p.menu-parag {
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 24px;
}

span.menu-span {
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #9fa68c;
    border-radius: 16px;
    padding: 16px 40px 16px 40px;
    margin: 0px 10px;
}

span.menu-span:hover {
    background-color: #b7bca9;
}

div.menu-types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}


/*
Our team
*/

div.our-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

h1.our-word {
    font-family: "Ubuntu", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 64px;
    color: #36392d;
    margin-left: 170px;
}

p.team-parag {
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 521px;
    margin-right: 150px;
}

div.team-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 190px 144px 80px 144px;
}

img.member-pic {
    width: 370px;
    height: 600px;
}

p.name {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

p.job {
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    font-weight: 500;
}

p.member-description {
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    font-weight: 400;
}

h1.event-head {
    font-family: "Ubuntu", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 64px;
    color: #36392d;
    margin-left: 170px;
}

div.top-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
}

div.down-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
}

img.event-pic {
    width: 700px;
    height: 500px;
}

div.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
}

h1.footer-logo {
    text-align: center;
    color: #36392d;
    margin-right: 100px;
}

li.footer-li {
    margin: 10px;
}

a.footer-a {
    font-size: 16px;
    font-weight: 400;
    color: #36392d;
}

div.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

p.contact-parag {
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    font-weight: 400;
    color: #36392d;
    margin-bottom: 20px;
}

input.email {
    width: 190px;
    background-color: #cfd2c6;
}

input.email::placeholder {
    font-family: "Roboto Slab", serif;
    font-size: 12px;
    text-align: center;
}